<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>username</param-name>
        <param-value>TANVI</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>mca</param-value>
    </context-param>
    <servlet>
        <servlet-name>color</servlet-name>
        <servlet-class>color</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cal</servlet-name>
        <servlet-class>cal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>header</servlet-name>
        <servlet-class>header</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deploydiscp</servlet-name>
        <servlet-class>deploydiscp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deploydesc</servlet-name>
        <servlet-class>deploydesc</servlet-class>
        <init-param>
            <param-name>login</param-name>
            <param-value>mca</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>validation</servlet-name>
        <servlet-class>validation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validationlogin</servlet-name>
        <servlet-class>validationlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>session</servlet-name>
        <servlet-class>session</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>session2</servlet-name>
        <servlet-class>session2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>color</servlet-name>
        <url-pattern>/color</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cal</servlet-name>
        <url-pattern>/cal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>header</servlet-name>
        <url-pattern>/header</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deploydiscp</servlet-name>
        <url-pattern>/deploydiscp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deploydesc</servlet-name>
        <url-pattern>/deploydesc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validation</servlet-name>
        <url-pattern>/validation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validationlogin</servlet-name>
        <url-pattern>/validationlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>session</servlet-name>
        <url-pattern>/session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>session2</servlet-name>
        <url-pattern>/session2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
