
table
{
     margin-top:2cm;
     color:#FBC02D;
     background-color:#001933;
     
}
.cp
{
    font-size:100%;
}
.pw
{
     font-size:100%;
}
.un
{
     font-size:100%;
}
.db
{
     font-size:100%;
}

.g
{
   font-size:100%;
}
   
